body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-image: url('../IMG/background.jpg') ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
  }
  
  nav ul {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }
  
  nav ul:hover {
    background-color: #ddd;
    color: black;
  }
  
  .main-content {
    text-align: center;
    color: yellow;
  }
  
  .title {
    font-size: 5em;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .image-button {
    display: inline-block;
    background-image: url('/IMG/button.png');
    width: 200px;
    height: 200px;
    background-size: 100% 100%;
    text-indent: -9999px;
}

  body {
    background-image: url('../IMG/background.jpg') ; 
    background-size: cover;
  }

  .banner {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
